{% extends 'base.html' %}

{% block content %}

<h1 style="text-align: center;">Login</h1>
<div class="container" style="text-align: center;">
<form method = "POST" action="{% url 'login' %}">
    {% csrf_token %}
    Username:
    <br/>
    <input type="text" name="username" required/>
    <br/>
    Password:
    <br/>
    <input type="password" name="password" required/>
    <br/>
    <br/>
    <input class ="btn btn-primary" type="submit" value= "Login" />
    <br/>



</form>

{%if error%}

{{error}}

{%endif%}

</div>

{% endblock %}

